/* POSTS */

article { clear: both; margin: 0 0 35px 0; }

blockquote { background: url(assets/images/icons/blockquote.png) no-repeat 0 12px; padding: 10px 20px 10px 50px; font-style: italic; }
blockquote p { }

ul, ol { }

.post { 
    overflow: hidden;
    position:relative;
    width:100%;
    //height:420px;
    float:left;
    max-height: none;
    margin: 0 0 10px 0;
    @include bp(phone) {
        margin:0;
        width: 100%;
        max-height: 220px;
    }
    img {
        width: 100%;
        height: 100%;
        @include bp(phone) {
            height:auto;
        }
    }
    .cover{
        height: 420px;
        overflow: hidden;
        img{
            height: auto;
        }
        .video-wrap{
            iframe{
                height: 420px!important;
            }
        }
        .rsSlide{
            display: table;
            p{
                color: black;
                display: table-cell;
                width: 100%;
                height: 100%;
                text-align: center;
                vertical-align: middle;
                background:#f9f9f9;
                padding: 100px;
                font-family: $serif;
                font-size: 1.1em;
            }
            .tumblr_video_iframe{
                width: 100%!important;
                height: 420px!important;
            }
        }
    }
    .ig{
        background:#f9f9f9;
        display: table;
        margin-bottom: 4em!important;
        img{
            width: auto;
            height: 400px;
            float: left;
            margin: 10px;
        }
        .info{
            display: table-cell;
            vertical-align: middle;
            font-family: $serif;
            background: #f9f9f9 url(assets/images/instagram@2x.png) no-repeat;
            background-size: 25px 20px;
            background-position: 50% 20%;
            .date{
                display: inline-block;
                margin-top: 10px;
            }
            a{
                font-family: $sans-serif;
                display: block;
                margin-top: 10px;
            }
        }
    }
    .tweet{
        height: 205px;
        width: 100%;
        margin-bottom: 4em!important;
        .table{
            display: table;
            height: 100%;
            width: 100%;
            background: #f9f9f9 url(assets/images/twitter@2x.png) no-repeat;
            background-size: 25px 21px;
            background-position: 50% 20%;
            p{
                display: table-cell;
                width: 100%;
                height: 100%;
                text-align: center;
                vertical-align: middle;
            }
        }
        a.twitterdatelink{
            position:absolute;
            margin-top: -40px;
            margin-left: -30px;
            text-decoration: none;
            text-transform: uppercase;
            color:#815372;
            font-family: 'Futura';
            letter-spacing: 1px;
            font-size: 0.9em!important;
        }
    }
    .post-content{
        height: 100%;
        display:block;
    }
    .post-title{
        height:100%;
        width:100%;
        background:none;
        bottom:0;
        font-size: 11px;
        @include bp(phone){
            a{  
                div.h2{
                    padding:0;
                    height:220px;
                    .serif{
                        .excerpt{
                            display:none;
                        }
                    }
                }
            }
        }
        .all{
                display:block;
                width:100%;
                height:100%;
                position:absolute;
            }
        a{
            text-decoration: none;
            display:block;
            width:100%;
            height:100%;
            display:table;
            border-bottom: 1px #efefef solid;
            div.h2{
                line-height: 1.333em; 
                padding:6em 3em 3em 3em;
                text-align:center;
                height:100%;
                width:100%;
                color:#323333;
                letter-spacing: 2px;
                //margin-bottom: 6em;
                //border-bottom: 1px #efefef solid;
                p{
                    padding:20px;
                    letter-spacing: normal;
                }
                .serif{
                    text-transform: none;
                    font-size: 0.7em;
                    .excerpt{
                        display:block;
                        @include bp(phone){
                            display: none!important;
                        }
                    }
                    .readmore{
                        color:#612E59;
                    }
                }
                .open{
                    font-size: 140%;
                }
            }
        }
        span.mobile{
            text-decoration: none;
            display:block;
            width:100%;
            height:100%;
            display:table;
            div.h2{
                line-height: 1.333em; 
                display:table-cell;
                vertical-align: middle;
                text-align:center;
                height:220px;
                width:100%;
                color:#323333;
                p{
                    padding:20px;
                }
                .serif{
                    text-transform: none;
                    font-size: 0.7em;
                    .excerpt{
                        display:none;
                    }
                    .readmore{
                        color:#612E59;
                        display: block;
                    }
                }
                .open{
                    font-size: 140%;
                }
            }
        }
    }
}

.sticky { }

.entry { }
.entry a { }
.entry a:hover { }

.entry img { }

.entry .wp-caption { }
.entry .wp-caption img { }
.entry .wp-caption .wp-caption-text { }
.entry .wp-caption.aligncenter { margin: 0 auto; }

img.wp-smiley { padding: 0; border: none; }

.wp-caption-text { }
.gallery-caption { }

.alignleft { float: left; width: auto; margin: 5px 15px 15px 0; }
.alignright { float: right; width: auto; margin: 5px 0 15px 15px; }
.aligncenter { text-align: center; margin-bottom: 5px;}
img.aligncenter { margin-left: auto; margin-right: auto; display: block; }

pre { }
code, tt { }

.meta { }
.postmetadata { }

/* SHARING */

.sharing h4 { margin-bottom: 0; padding-bottom: 0; }
.sharing ul { list-style: none; margin-top: 0; padding-top: 5px; margin-bottom: 0; padding-bottom: 0; }
.sharing li { float: left; }
.sharing li:first-child { padding-left: 0; }
.sharing .share-twitter { padding-top: 1px; }
.sharing .share-facebook { padding-top: 1px; }
.sharing .share-googleplus { margin-left: 30px; }

/* POST NAVIGATION */

.navgation { clear: both; }
.next-posts { float: left; }
.prev-posts { float: right; }
