// Font Face
@include fontface('BT', 'assets/fonts/', 'brandontext-regular-webfont');
@include fontface('BT-Bold', 'assets/fonts/', 'brandontext-bold-webfont');
@include fontface('BT-Light', 'assets/fonts/', 'brandontext-light-webfont');
@include fontface('BT-Medium', 'assets/fonts/', 'brandontext-medium-webfont');
@include fontface('BT-Italic', 'assets/fonts/', 'brandontext-regularitalic-webfont');
@include fontface('BT-Bold-Italic', 'assets/fonts/', 'brandontext-bolditalic-webfont');
@include fontface('BT-Medium-Italic', 'assets/fonts/', 'brandontext-mediumitalic-webfont');
@include fontface('ajoto', 'assets/fonts/', 'ajoto');

@include web-font((Merriweather), $secure: true);
// Structure
$pageWidth: 910px;

//Colors
$grey1: #222222;
$grey2: #333333;
$grey3: #444444;
$grey4: #666666;
$grey5: #888888;
$grey6: #AAAAAA;
$grey7: #CCCCCC;
$grey8: #DDDDDD;
$grey9: #EEEEEE;

$gold1: #B49650;
$gold2: #C8B482;
$gold3: #E6DCBE;

// Text Selection
$selectionColor: $gold2;

// Links
$linkColor: $gold1;
$linkHoverColor: $gold2;

// Font styles
$sans-serif: "BT","Helvetica Neue", Helvetica, Arial, sans-serif;
$ssbold: "BT-Bold","Helvetica Neue", Helvetica, Arial, sans-serif;
$sslight: "BT-Light","Helvetica Neue", Helvetica, Arial, sans-serif;
$ssmedium: "BT-Medium","Helvetica Neue", Helvetica, Arial, sans-serif;
$ssitalic: "BT-Italic","Helvetica Neue", Helvetica, Arial, sans-serif;
$ssbold-italic: "BT-Bold-Italic","Helvetica Neue", Helvetica, Arial, sans-serif;
$ssmedium-italic: "BT-Medium_Italic","Helvetica Neue", Helvetica, Arial, sans-serif;
$icons: "ajoto";

$serif: "Merriweather","Georgia", Cambria, Times New Roman, Times, serif;

.sans-serif{
    font-family: $sans-serif;
}
.serif{
    font-family: $serif;
}


// AJOTO FONT ICONS
[class^="icon-"], [class*=" icon-"] {
    font-family: 'ajoto';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clover:before {
    content: "\e61d";
}
.icon-basket:before {
    content: "\e61c";
}
.icon-thumbs-up:before {
    content: "\e600";
}
.icon-thumbs-down:before {
    content: "\e601";
}
.icon-social_vimeo:before {
    content: "\e602";
}
.icon-social_twitter:before {
    content: "\e603";
}
.icon-social_pin:before {
    content: "\e604";
}
.icon-social_inst:before {
    content: "\e605";
}
.icon-social_flkr:before {
    content: "\e606";
}
.icon-social_fb:before {
    content: "\e607";
}
.icon-slide_right:before {
    content: "\e608";
}
.icon-slide_left:before {
    content: "\e609";
}
.icon-man:before {
    content: "\e60a";
}
.icon-factory:before {
    content: "\e60b";
}
.icon-eye:before {
    content: "\e60c";
}
.icon-diamond_blank:before {
    content: "\e60d";
}
.icon-d_target:before {
    content: "\e60e";
}
.icon-d_man:before {
    content: "\e60f";
}
.icon-d_clover:before {
    content: "\e610";
}
.icon-d_basket:before {
    content: "\e611";
}
.icon-d_arrows:before {
    content: "\e612";
}
.icon-d_ajoto:before {
    content: "\e613";
}
.icon-d_001:before {
    content: "\e614";
}
.icon-d_000:before {
    content: "\e615";
}
.icon-clock:before {
    content: "\e616";
}
.icon-bird:before {
    content: "\e617";
}
.icon-arrow_up:before {
    content: "\e618";
}
.icon-arrow_right:before {
    content: "\e619";
}
.icon-arrow_left:before {
    content: "\e61a";
}
.icon-ajoto:before {
    content: "\e61b";
}